{% extends "_base.html" %}
{% load static %}

{% block page_title %}PuyoPuyo Analyzer{% endblock %}

{% block extra_css %}
<style type="text/css">
    .outer-container {
        position: relative;
        width: 960px;
        height: 540px;
    }
    .inner-container {
        position: absolute;
    }

    #canvasContainer {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #videoControllerContainer {
        left: 24px;
        bottom: 24px;
    }

    #toolsContainer {
        right: 24px;
        bottom: 24px;
    }
    
    #capturedCanvas {
        display: none;
    }

</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s9">
        <div class="outer-container">
            <video id="video" auto width="960" height="540">
                <source src="{{ MEDIA_URL }}/puyopuyo.mp4" type="video/mp4"></source>
            </video>
            <div id="resultContainer" class="inner-container">
                <canvas id="resultCanvas" width="960" height="540"></canvas>
            </div>
            <div id="operationalContainer" class="inner-container">
                <canvas id="operationalCanvas" width="960" height="540"></canvas>
            </div>
            <div id="videoControllerContainer" class="inner-container">
                <a class="btn-floating btn waves-effect waves-light" onClick="forwardVideo(-10)"><i class="material-icons">replay_10</i></a>
                <a class="btn-floating btn waves-effect waves-light" onClick="switchVideo()"><i class="material-icons">play_arrow</i></a>
                <a class="btn-floating btn waves-effect waves-light" onClick="forwardVideo(10)"><i class="material-icons">forward_10</i></a>  
            </div>
            <div id="toolsContainer" class="inner-container">
                <a class="btn-floating btn waves-effect waves-light blue lighten-1" onClick="">1P</a>
                <a class="btn-floating btn waves-effect waves-light pink lighten-1" onClick="">2P</a>  
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-content">
                ここにぷよ譜
            </div>
        </div>        
    </div>
</div>

<canvas id="capturedCanvas" width="960" height="540"></canvas>

{% endblock %}

{% block extra_js %}
<script>
    /**********************
     *  Video Controller  *
     **********************/
    var video = $("#video")[0];
    var isPlaying = -1;   // -1: Pausing, 1: Playing
    function switchVideo() {
        if (isPlaying == -1) {    
            video.play();
            $("#videoControllerContainer i")[1].textContent = "pause";
        } else {
            video.pause();
            $("#videoControllerContainer i")[1].textContent = "play_arrow";
        } 
        isPlaying *= -1;
    }
    function forwardVideo(time) {
        video.currentTime += time;
    }

    /*******************
     *  Chain Analyze  *
     *******************/
    var regions = [
        {xmin: 150, ymin:86, width:0},
    ]
    var capturedCanvas = $("#capturedCanvas")[0];
    function captureBoard() {
        capturedCanvas.getContext('2d').drawImage(video, 0, 0, video.clientWidth, video.clientHeight);
        data = capturedCanvas.toDataURL("image/jpeg");
    }

    setInterval(captureBoard, 200);


</script>
{% endblock %}
